<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <link rel="stylesheet" th:href="@{/style.css}"/>


    <script type="text/javascript" th:src="@{/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/weather.js}"></script>
</head>
<body>

<ul>
    <li id="data"></li>
    <li id="data1"></li>
    <li id="data2"></li>
    <li id="data3"></li>
    <li id="data4"></li>
</ul>
<div class="home">


</div>
</body>
</html>